@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-green: hsl(75, 94%, 57%);
    --color-grey-900: hsl(0, 0%, 8%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-700: hsl(0, 0%, 20%);
    --font-family-inter: Inter, sans-serif;
    --font-line-height-preset-1: 150%;
    --font-letter-spacing-preset-1: 0;
    --font-text-preset-1: 1.5rem; /* 24px */
    --font-text-preset-2: 0.875rem; /* 14px */
    --spacing-preset-500: 2.5rem; /* 40px */
    --spacing-preset-300: 1.5rem; /* 24px */
    --spacing-preset-200: 1rem; /* 16px */
    --spacing-preset-100: 0.5rem; /* 8px */
    --spacing-preset-50: 0.25rem; /* 4px */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-family-inter);
    line-height: var(--font-line-height-preset-1);
    letter-spacing: var(--font-letter-spacing-preset-1);
    padding-left: var(--spacing-preset-300);
    padding-right: var(--spacing-preset-300);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-preset-300);
    padding: var(--spacing-preset-300);
    border-radius: 0.75rem;
    background-color: var(--color-grey-800);
}